In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv("maaslar_yeni.csv")
df.head()
df = df.sort_values(by="maas",ignore_index=True)

In [4]:
df.drop("unvan",axis=1,inplace=True)

In [5]:
df.drop("Calisan ID",axis=1,inplace=True)

In [6]:
df.head()

   UnvanSeviyesi  Kidem  Puan  maas
0              1      7    99  2000
1              2      2    53  2200
2              1      8    11  2200
3              1      5    70  2250
4              2      5    70  2500

In [ ]:
df.