In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("satislar.csv")

In [3]:
df.head()

   Aylar  Satislar
0      8   19671.5
1     10   23102.5
2     11   18865.5
3     13   21762.5
4     14   19945.5

In [7]:
df.Aylar.value_counts(normalize=True)

25    0.100000
59    0.066667
37    0.066667
20    0.066667
19    0.066667
31    0.033333
44    0.033333
65    0.033333
34    0.033333
64    0.033333
8     0.033333
42    0.033333
10    0.033333
11    0.033333
14    0.033333
13    0.033333
29    0.033333
49    0.033333
50    0.033333
54    0.033333
55    0.033333
24    0.033333
26    0.033333
32    0.033333
Name: Aylar, dtype: float64